.git
log/*
tmp/*
doc/*
envs/*
Dockerfile*
/node_modules

config/keys/*
!config/keys/dummy_cert.pem
!config/keys/dummy_key.pem

config/database.yml
config/secrets.yml

vendor/cache

.gitignore
.dockerignore
.gitlab-ci.yml
.rubocop.yml
.ruby-version
.variables
.coverage
coverage
rspec*.xml
.rspec_status
clean.sh
config.yaml
base-service.yml
common-services.yml
docker-compose.yml
test-compose.yml

**.orig
*.orig
**/*.orig

